.about_page {
  width: 100%;
  min-height: 100vh;
  background-color: #0e0e0e;
}

.about_page_head {
  text-align: center;
  padding: 90px 30px;
}

.about_page_title1 {
  color: #e2e2e2;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.24px;
}
.about_page_title2 {
  color: #e2e2e2;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.165px;
}

.about_page_body {
  width: 100%;
  min-height: 568px;
  background-color: #0e0e0e;
}

.about_page_body_left img {
  width: 100%;
  border-radius: 24px;
}

.about_page_body_right_para {
  color: #e2e2e2;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: justify;
}
