.admin_login_leftbox {
    height: 90vh;
    background: #000000;
    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: center;    /* Vertically center the container */
}

.admin_login_leftbox_container {
    height: 400px;
    width: 400px;
    background-color: aliceblue;
   
}

.admin_login_leftbox_title{
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: center;
color: #ffffff;
}

.admin_login_rightbox {
    height: 90vh;
    background: #000000;
    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: center;  
}

.admin_login_rightbox img {
    height: 90vh;
    /* width: 100%; */
    object-fit: cover;
}
