.admin_sidebar{
    padding: 40px 0;
}

.admin_container{
    width: 100%;
    height: 40px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_title_container{
    width: 150px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}