.admin_home{
    display: flex;
    min-height: 90vh;
}

.admin_home_sidebar{
    min-height: 90vh;
    width: 20%;
    background-color:#383638;
    ;
}

.admin_home_body{
    min-height: 90vh;
    width: 80%;
    /* background-color: aqua; */
}

/* Admin-Dashboard */

.admin-dash-h4{
    font-weight: bold;
} 
.admin-dash-para{
    color: black;
}
.admin-dash-revenue-box{
    background-color: #A10303;
    border: 1px solid #000000;
    height: 180px;
    width: 80%;
    border-radius: 20px;
    border: none;
}
.admin-dash-span{
    color: white;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 2px;  
}
.admin-dash-link{
    text-decoration: none;
    color: white;
}