.citizen_forgot_password_subtitle {
  color: #ffff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
  margin: 0;
}

.forgot_password_left {
    background-image: url(../Images/forgot.jpg);
    background-size: cover;
  }
