.citizen_landingpage {
  padding: 20px 0;
}

.citizen_landingpage_content {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
}

.citizen_img1 {
  width: 50%;
  max-height: 444px;

}
.citizen_img1 img {
  height: 444px;
  width: 99%;
}

.citizen_img2 {
  width: 50%;
  height: 444px;
  
}
.citizen_img2 img{
  height: 350px;
  width: 100%;
}

.citizen_imgbox {
  height: 90px;
  
  background: #0c1319;
  margin-top: 3px;
  padding: 15px;
}

.citizen_imgbox p {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
}

.citizen_img_content {
  padding: 10px 30px;
}

.citizen_img_content_head {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  height: 100px;
  width: 400px;
  margin: auto;
}

.citizen_img_content_para {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
}

.citizen_img_content_points img {
  width: 29px;
  height: 30px;
}
