.footer {
  background: #383638;
}

.footer_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}

.footer_name {
  color: #e2e2e2;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer_title{
    color: #E2E2E2;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer_content{
    color: #E2E2E2;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
