.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .search-box input {
    border: none;
    padding: 10px;
    outline: none;
    flex: 1;
  }
  
  .search-box button {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-box button svg {
    color: #aaa;
  }
  